*{
  margin:0;
  padding: 0;
}
.header{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  color:black;


}
.logo{
  font-size: 20px;
}

.header .nav ul {
  height: 100%;
  width: 500px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

  
}
.li {
  color: black;
  text-decoration: none;
}
.li:hover{
  letter-spacing: 1px;
  text-decoration: none;
}
.addpost_section,.updateform_section,.loginFormdiv,.registerFormDiv{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.addPost,.updatePost,.loginForm,.registerForm{
  width: 100%;
  text-align: center;
  width: 500px;
}
.postcard{
  height: 500px;
  width: 400px;
  margin-top: 50px;
}
.img{
  height: 300px;
  width: 400px;
}
.posts{
  height: 80vh;
  width: 100%;
  display: grid;
 grid-template-columns: 1fr 1fr 1fr;
  
}
@media screen and (max-width:600px) {
  *{
    margin:0;
    padding: 0;
  }
  .logo{
    padding-left: 0;
  }
  .nav{
    height:300px ;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 80px;
    z-index: 1;
    background-color: aqua;
    display: none;
  }
  .nav ul {
    height: 400px;
    display: flex;
    flex-direction: column;
   
  }
  .nav ul li{
    height: 100%;
   width: 100%;
   text-align: center;
  }
  .nav ul li:hover{
  background-color:crimson;
  }
  .posts{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .addPost,.updatePost,.loginForm,.registerForm{
    text-align: center;
    width:100%;
    
  }
}